<h1>Hello Airbnb's</h1>

<ul>
    <% @houses.each do |house| %>
        <li>
            <%= link_to house.title, house%>
                <dt><%= house.image %></dt>
                <dt><%= house.description %></dt>
                <dt><%= house.price %></dt>
        </li>
        <% end %>

</ul>

<%= link_to "New House", new_house_path %>